Repository Kuadrant/kuadrant-operator, pull requests merged in 2023-11, with the labels that each got.

#287 Fix bug in response validation rules
  api/v1beta2/authpolicy_types.go
  bundle/manifests/kuadrant-operator.clusterserviceversion.yaml
  bundle/manifests/kuadrant.io_authpolicies.yaml
  config/crd/bases/kuadrant.io_authpolicies.yaml
Labels: kind/bug, target/current, size/small, area/api

#246 refactor: controller-runtime v0.16.3
  bundle/manifests/kuadrant-operator.clusterserviceversion.yaml
  config/default/manager_config_patch.yaml
  config/manager/controller_manager_config.yaml
  config/manager/kustomization.yaml
  controllers/authpolicy_controller.go
  controllers/gateway_eventmapper.go
  controllers/httproute_eventmapper.go
  controllers/ratelimitpolicy_controller.go
  go.mod
  go.sum
  main.go
Labels: kind/enhancement, participation/good first issue, target/current, size/small, area/dependencies

#286 Update gatewayapi to v1.0.0
  .github/workflows/build-images-base.yaml
  .github/workflows/code-style.yaml
  .github/workflows/test.yaml
  Dockerfile
  README.md
  api/v1beta2/authpolicy_types.go
  api/v1beta2/authpolicy_types_test.go
  api/v1beta2/ratelimitpolicy_types.go
  api/v1beta2/ratelimitpolicy_types_test.go
  api/v1beta2/route_selectors.go
  api/v1beta2/route_selectors_test.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/kuadrant.io_authpolicies.yaml
  bundle/manifests/kuadrant.io_ratelimitpolicies.yaml
  config/crd/bases/kuadrant.io_authpolicies.yaml
  config/crd/bases/kuadrant.io_ratelimitpolicies.yaml
  config/dependencies/gateway-api/gateway/gateway.yaml
  config/dependencies/gateway-api/kustomization.yaml
  controllers/authpolicy_authconfig.go
  controllers/authpolicy_authconfig_test.go
  controllers/authpolicy_controller.go
  controllers/authpolicy_controller_test.go
  controllers/authpolicy_istio_authorizationpolicy.go
  controllers/authpolicy_istio_authorizationpolicy_test.go
  controllers/gateway_eventmapper.go
  controllers/gateway_kuadrant_controller.go
  controllers/gateway_kuadrant_controller_test.go
  controllers/helper_test.go
  controllers/httprouteparentrefs_eventmapper.go
  controllers/kuadrant_controller.go
  controllers/limitador_cluster_envoyfilter_controller.go
  controllers/limitador_cluster_envoyfilter_controller_test.go
  controllers/ratelimitpolicy_controller.go
  controllers/ratelimitpolicy_controller_test.go
  controllers/ratelimitpolicy_istio_wasmplugin.go
  controllers/suite_test.go
  doc/auth.md
  doc/development.md
  doc/rate-limiting.md
  doc/reference/route-selectors.md
  doc/user-guides/auth-for-app-devs-and-platform-engineers.md
  doc/user-guides/authenticated-rl-for-app-developers.md
  doc/user-guides/gateway-rl-for-cluster-operators.md
  doc/user-guides/simple-rl-for-app-developers.md
  examples/toystore/httproute.yaml
  go.mod
  go.sum
  main.go
  pkg/common/common.go
  pkg/common/common_test.go
  pkg/common/gatewayapi_utils.go
  pkg/common/gatewayapi_utils_test.go
  pkg/common/istio_utils.go
  pkg/common/istio_utils_test.go
  pkg/reconcilers/targetref_reconciler.go
  pkg/reconcilers/targetref_reconciler_test.go
  pkg/rlptools/wasm/types.go
  pkg/rlptools/wasm_utils.go
  pkg/rlptools/wasm_utils_test.go
Labels: target/current

#295 Add mandatory Gateway API label to the policy CRDs
  api/v1beta2/authpolicy_types.go
  api/v1beta2/ratelimitpolicy_types.go
  bundle/manifests/kuadrant-operator.clusterserviceversion.yaml
  bundle/manifests/kuadrant.io_authpolicies.yaml
  bundle/manifests/kuadrant.io_ratelimitpolicies.yaml
  config/crd/bases/kuadrant.io_authpolicies.yaml
  config/crd/bases/kuadrant.io_ratelimitpolicies.yaml
Labels: target/current, size/small, area/api

#311 Update Keycloak examples
  doc/user-guides/authenticated-rl-with-jwt-and-k8s-authnz.md
  examples/toystore/authpolicy_jwt-k8s-authnz.yaml
Labels: kind/bug, area/doc, target/current, size/small

#301 Enhanced observability for the limitador instance
  controllers/kuadrant_controller.go
  go.mod
  go.sum
Labels: kind/enhancement, target/current

#322 docs: TLS and DNS Policy user guides
  Makefile
  doc/user-guides/gateway-dns.md
  doc/user-guides/gateway-tls.md
  utils/docker-network-ipaddresspool.sh
  utils/kind-cluster.yaml
Labels: area/doc, target/next
