Repository Kuadrant/kuadrant-operator, pull requests merged in 2024-04, with the labels that each got.

#503 AP Defaults
  Makefile
  api/v1beta2/authpolicy_types.go
  api/v1beta2/authpolicy_types_test.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/kuadrant.io_authpolicies.yaml
  config/crd/bases/kuadrant.io_authpolicies.yaml
  controllers/authpolicy_authconfig.go
  controllers/authpolicy_controller_test.go
  controllers/authpolicy_istio_authorizationpolicy.go
  doc/reference/authpolicy.md
Labels: kind/enhancement, size/medium, area/api

#544 Remove the -v and --fail-fast from the ginkgo test command
  Makefile
Labels: size/small, area/tests

#525 AuthPolicy Atomic Overrides
  api/v1beta2/authpolicy_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/kuadrant-operator.clusterserviceversion.yaml
  bundle/manifests/kuadrant.io_authpolicies.yaml
  config/crd/bases/kuadrant.io_authpolicies.yaml
  controllers/authpolicy_authconfig.go
  controllers/authpolicy_controller.go
  controllers/authpolicy_controller_test.go
  doc/reference/authpolicy.md
  pkg/library/reconcilers/target_ref_reconciler.go
Labels: kind/enhancement, size/medium, area/api

#553 Do/auth policy status
  controllers/authpolicy_status.go
  pkg/library/kuadrant/apimachinery_status_conditions.go
  pkg/library/kuadrant/httproute_wrapper.go
Labels: size/small

#557 Make selection of subnet using docker more flexible.
  utils/docker-network-ipaddresspool.sh
Labels: kind/bug, size/small

#523 RLP atomic override
  api/v1beta2/ratelimitpolicy_types.go
  api/v1beta2/zz_generated.deepcopy.go
  bundle/manifests/kuadrant.io_ratelimitpolicies.yaml
  config/crd/bases/kuadrant.io_ratelimitpolicies.yaml
  controllers/authpolicy_authconfig.go
  controllers/authpolicy_controller.go
  controllers/authpolicy_controller_test.go
  controllers/authpolicy_status.go
  controllers/helper_test.go
  controllers/limitador_cluster_envoyfilter_controller_test.go
  controllers/rate_limiting_wasmplugin_controller.go
  controllers/rate_limiting_wasmplugin_controller_test.go
  controllers/ratelimitpolicy_controller.go
  controllers/ratelimitpolicy_controller_test.go
  controllers/ratelimitpolicy_limitador_status_event_handler.go
  controllers/ratelimitpolicy_limits.go
  controllers/ratelimitpolicy_status.go
  controllers/suite_test.go
  doc/reference/ratelimitpolicy.md
  go.mod
  main.go
  pkg/library/gatewayapi/types.go
  pkg/library/gatewayapi/types_test.go
  pkg/library/kuadrant/apimachinery_status_conditions.go
  pkg/library/kuadrant/apimachinery_status_conditions_test.go
  pkg/library/kuadrant/errors.go
  pkg/library/kuadrant/httproute_wrapper.go
Labels: kind/enhancement, area/api

#575 docs: defaults & overrides
  doc/auth.md
  doc/rate-limiting.md
Labels: area/doc

#574 docs: limitation on multiple network resources with identical hostnames
  doc/auth.md
  doc/rate-limiting.md
Labels: area/doc
